@import '../../styles/styles.scss';

.overview {
  flex: 1;
  padding: 5rem;
  background: linear-gradient(180deg,$cPond,$cForrest 82.11%)
}

.overview__content {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $cNOffWhite;
  border-radius: 6px;
  box-shadow: 5px 5px 5px $cNBlack;
}

.overview__information {
  flex-grow: 1;
  padding: 0.7rem 1rem;
}

.overview__header {
  font-size: 1.5rem;
  font-weight: bold;
}

.overview__info-box {
  display: flex;
  flex-direction: column;
  margin: 0 0 6px 6px;
  h3 {
    margin-right: 6px;
    white-space: nowrap;
    color: $cClay;
    font-size: 1rem;
    font-weight: bold;
  }
}

.overview__info-box--horizontal {
  flex-direction: row;
}

.overview--warning-text {
  font-size: 0.8rem;
  color: $cWine;
  font-style: italic;
}

.overview__sidebar {
  box-sizing: border-box;
  width: 124px;
  height: 100%;
  background-color: $cClay;
  border-left: 4px solid $cClay;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}